<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkkdHq_aKbjsBLe4ZkjVH6On9DCPds2VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>838309422233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codbun.chat.ai</string>
	<key>PROJECT_ID</key>
	<string>chat-ai-89a82</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ai-89a82.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838309422233:ios:4d249c1da6213dcca68408</string>
</dict>
</plist>